.header-lock {
	top: 0px; width: 100%; display: block; position: fixed; z-index: 999; background-color: rgb(255, 255, 255);
}
.wasu-logo a {
	background: url("../images/wasu-logo.png") no-repeat center / 100% 100%; margin: 4px 4px 4px 8px; width: 80px; height: 35px; text-indent: -9999px; overflow: hidden; display: block;
}
.wasu-ucenter li {
	background: url("../images/ucenter.png") no-repeat; width: 44px; height: 44px; text-align: center; float: left;
}
.wasu-ucenter li.ucApk {
	background-position: 16px 4px;
}
.wasu-ucenter li.ucLogin {
	background-position: -18px 4px;
}
.wasu-ucenter li.mine {
	background-position: -18px 4px;
}
.wasu-ucenter li.ucSearch {
	background-position: -55px 4px;
}
.wasu-ucenter li a {
	color: rgb(85, 85, 85); padding-top: 24px; font-size: 14px; display: block;
}
.popLogin {
	margin: 0px auto; top: 44px; width: 100%; text-align: center; color: rgb(255, 255, 255); border-top-color: rgb(255, 78, 0); border-top-width: 1px; border-top-style: solid; display: none; position: absolute; z-index: 99999; background-color: rgb(255, 255, 255);
}
.popLogin h3 {
	margin: 6px auto 0px; height: 24px; text-align: left; color: rgb(255, 78, 0); line-height: 24px; font-size: 18px; min-width: 320px; max-width: 320px;
}
.popLogin p {
	height: 50px; color: rgb(85, 85, 85); line-height: 50px; font-size: 14px;
}
.popLogin p span:first-child {
	width: 44px; text-align: right; display: inline-block;
}
.popLogin p.loginName input {
	margin: 0px 3px; padding: 5px; border: 1px solid rgb(220, 220, 220); border-image: none; width: 146px; height: 22px; background-color: rgb(246, 246, 246);
}
.popLogin p.loginPsd input {
	margin: 0px 3px; padding: 5px; border: 1px solid rgb(220, 220, 220); border-image: none; width: 146px; height: 22px; background-color: rgb(246, 246, 246);
}
.popLogin p span:last-child {
	color: rgb(255, 0, 0);
}
.popLogin .index_ero {
	margin: 0px auto; width: 170px; height: 12px; text-align: left; color: rgb(255, 0, 0); line-height: 16px; display: none;
}
.popLogin p.loginBtn input[type='button'] {
	border-radius: 3px; border: 1px solid rgb(237, 95, 1); border-image: none; width: 70px; height: 30px; color: rgb(255, 255, 255); margin-left: 20px; background-color: rgb(233, 131, 30);
}
.popLogin p.loginBtn input[type='checkbox'] {
	margin: -4px 0px 0px 14px; color: rgb(255, 0, 0);
}
.popLogin p.loginBtn label {
	display: inline-block;
}
.popSearch {
	margin: 0px auto; top: 0px; width: 100%; height: 199px; text-align: center; color: rgb(255, 255, 255); padding-bottom: 30px; display: none; position: absolute; z-index: 99999; background-color: rgb(255, 255, 255);
}
.popSearch .wasu-ucenter .ucSearchInput {
	background: none; width: 160px;
}
.popSearch .wasu-ucenter .ucSearchInput input[type='text'] {
	width: 140px; height: 30px; padding-left: 5px; margin-top: 5px;
}
.popSearch .searchTable {
	width: 100%; margin-top: 6px;
}
.popSearch .searchTable td {
	width: 33.3%;
}
.popSearch .searchTable a {
	border: 1px solid rgb(220, 220, 220); border-image: none; width: 90%; height: 42px; color: rgb(255, 78, 0); line-height: 42px; font-size: 14px; margin-top: 8px; display: inline-block; background-color: rgb(246, 246, 246);
}
.popSearch .searchTable a:hover {
	color: rgb(255, 255, 255); background-color: rgb(255, 78, 0);
}
.wasu-nav {
	-ms-user-select: none; -webkit-tap-highlight-color: transparent; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}
.wasu-nav a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.wasu-nav a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.wasu-nav .wasu-nav-box {
	margin: 0px auto; overflow: hidden; position: relative; min-width: 300px; max-width: 984px;
}
.wasu-nav .wasu-nav-list {
	width: 100%; height: 44px; backface-visibility: hidden; background-color: rgb(255, 78, 0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden;
}
.wasu-nav .wasu-nav-pills {
	list-style: none; margin: 0px; padding: 0px; left: 0px; top: 0px; height: 44px; position: absolute;
}
.wasu-nav .wasu-nav-pills::before {
	line-height: 0; display: table; content: "";
}
.wasu-nav .wasu-nav-pills::after {
	line-height: 0; display: table; content: "";
}
.wasu-nav .wasu-nav-pills::after {
	clear: both;
}
.wasu-nav .wasu-nav-pills li {
	width: 80px; height: 44px; text-align: center; line-height: 44px; float: left; display: block; white-space: nowrap; position: relative; background-color: rgb(255, 78, 0);
}
.wasu-nav .wasu-nav-pills li a {
	padding: 0px; font-size: 20px; display: inline-block;
}
.wasu-nav .wasu-nav-pills li.current {
	background-color: rgb(250, 139, 0);
}
.wasu-nav .wasu-nav-pills li.current {
	background-color: rgb(250, 139, 0);
}
.wasu-container {
	margin: 0px auto; min-width: 240px; max-width: 620px; background-color: rgb(255, 255, 255);
}
.subnav01 {
	-webkit-transform: translate(0px, 0px) translateZ(0px);
}
.subnav03 {
	-webkit-transform: translate(-80px, 0px) translateZ(0px);
}
.subnav04 {
	-webkit-transform: translate(-160px, 0px) translateZ(0px);
}
.subnav05 {
	-webkit-transform: translate(-240px, 0px) translateZ(0px);
}
.subnav06 {
	-webkit-transform: translate(-320px, 0px) translateZ(0px);
}
.subnav07 {
	-webkit-transform: translate(-400px, 0px) translateZ(0px);
}
.subnav08 {
	-webkit-transform: translate(-480px, 0px) translateZ(0px);
}
.subnav09 {
	-webkit-transform: translate(-560px, 0px) translateZ(0px);
}
.subnav10 {
	-webkit-transform: translate(-640px, 0px) translateZ(0px);
}
.subnav11 {
	-webkit-transform: translate(-720px, 0px) translateZ(0px);
}
.subnav12 {
	-webkit-transform: translate(-800px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-880px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-960px, 0px) translateZ(0px);
}
@media screen and (max-width:340px)
{
.subnav13 {
	-webkit-transform: translate(-790px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-820px, 0px) translateZ(0px);
}
}
@media screen and (max-width:360px) and (min-width:341px)
{
.subnav13 {
	-webkit-transform: translate(-760px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-790px, 0px) translateZ(0px);
}
}
@media screen and (max-width:390px) and (min-width:361px)
{
.subnav12 {
	-webkit-transform: translate(-740px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-740px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-770px, 0px) translateZ(0px);
}
}
@media screen and (max-width:420px) and (min-width:391px)
{
.subnav12 {
	-webkit-transform: translate(-710px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-710px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-740px, 0px) translateZ(0px);
}
}
@media screen and (max-width:460px) and (min-width:421px)
{
.subnav12 {
	-webkit-transform: translate(-680px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-680px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-710px, 0px) translateZ(0px);
}
}
@media screen and (max-width:500px) and (min-width:461px)
{
.subnav12 {
	-webkit-transform: translate(-640px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-640px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-670px, 0px) translateZ(0px);
}
}
@media screen and (max-width:540px) and (min-width:501px)
{
.subnav12 {
	-webkit-transform: translate(-600px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-600px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-630px, 0px) translateZ(0px);
}
}
@media screen and (max-width:580px) and (min-width:541px)
{
.subnav12 {
	-webkit-transform: translate(-570px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-570px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-590px, 0px) translateZ(0px);
}
}
@media screen and (max-width:620px) and (min-width:581px)
{
.subnav12 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-550px, 0px) translateZ(0px);
}
}
@media screen and (min-width:621px)
{
.subnav09 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav10 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav11 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav12 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav13 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
.subnav14 {
	-webkit-transform: translate(-520px, 0px) translateZ(0px);
}
}
.tabnav {
	margin-top: 88px; margin-bottom: 0px;
}
.tabnav {
	width: 100%;
}
.livetabnav {
	width: 100px;
}
.tabnav td {
	height: 35px; text-align: center;
}
.tabnav td a {
	font: 14px/14px "Microsoft Yahei"; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; display: block; font-size-adjust: none; font-stretch: normal;
}
.tabnav .tabnav-cur a {
	color: rgb(255, 78, 0);
}
.tabnav td:first-child a {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
div.backToTop {
	background: url("../images/top.gif") no-repeat -51px 0px rgb(234, 234, 234); width: 60px; height: 60px; text-indent: -999em;
}
div.backToTop:hover {
	background-position: -113px 0px;
}
